# 過去ツイートを遡って取得

※過去ツイートは8日分遡れる

In [11]:
from requests_oauthlib import OAuth1Session
import json
import settings

In [12]:
twitter = OAuth1Session(settings.CONSUMER_KEY, settings.CONSUMER_SECRET, settings.ACCESS_TOKEN, settings.ACCESS_TOKEN_SECRET)

In [13]:
import search_word

### チーモン

In [14]:
import sqlite3
conn = sqlite3.connect('bakayo_VS_chimon.db')
c = conn.cursor()

In [32]:
query = '''
SELECT min(id) FROM chimon_time
'''
minid = c.execute(query)

In [33]:
list_minid = c.fetchall()
min_id = list_minid[0][0]
min_id

799962607293607936

In [34]:
import pandas as pd
df_tbl = pd.DataFrame(columns=['id', 'week','month','day','time','jisa','year'])

In [35]:
params = {}
req = twitter.get("https://api.twitter.com/1.1/search/tweets.json?q={word}&max_id={min_id}&count=10".format(word=search_word.chimon, min_id=min_id), params = params)
tweets = json.loads(req.text)
for tweet_statuses in tweets['statuses']:
    tweet_id = tweet_statuses['id']
    time = tweet_statuses['created_at'].split(' ')
    if tweet_id < min_id:
        print(tweet_statuses['id'], tweet_statuses['created_at'])
        insert_query = '''
        INSERT INTO chimon_time VALUES({tweet_id}, '{t1}', '{t2}', {t3}, '{t4}', '{t5}', {t6})
        '''.format(tweet_id=tweet_id,t1=time[0],t2=time[1],t3=time[2],t4=time[3],t5=time[4],t6=time[5])
        c.execute(insert_query)
    
        df_addition_row = pd.DataFrame([[tweet_id, time[0], time[1], time[2], time[3], time[4], time[5]]])
        df_addition_row.columns = ['id', 'week','month','day','time','jisa','year']
        df_tbl = pd.concat([df_tbl,df_addition_row],axis=0)

In [9]:
conn.commit()

In [11]:
conn.close()

### 馬鹿よ

In [23]:
import sqlite3
conn = sqlite3.connect('bakayo_VS_chimon.db')
c = conn.cursor()

In [28]:
query = '''
SELECT min(id) FROM bakayo_time
'''
minid = c.execute(query)

In [29]:
list_minid = c.fetchall()
min_id = list_minid[0][0]
min_id

799843647675977729

In [30]:
import pandas as pd
df_tbl = pd.DataFrame(columns=['id', 'week','month','day','time','jisa','year'])

In [31]:
params = {}
req = twitter.get("https://api.twitter.com/1.1/search/tweets.json?q={word}&max_id={min_id}&count=100".format(word=search_word.bakayo,min_id=min_id), params = params)
tweets = json.loads(req.text)
for tweet_statuses in tweets['statuses']:
    tweet_id = tweet_statuses['id']
    time = tweet_statuses['created_at'].split(' ')
    if tweet_id < min_id:
        print(tweet_statuses['id'], tweet_statuses['created_at'])
        insert_query = '''
        INSERT INTO bakayo_time VALUES({tweet_id}, '{t1}', '{t2}', {t3}, '{t4}', '{t5}', {t6})
        '''.format(tweet_id=tweet_id,t1=time[0],t2=time[1],t3=time[2],t4=time[3],t5=time[4],t6=time[5])
        c.execute(insert_query)
    
        df_addition_row = pd.DataFrame([[tweet_id, time[0], time[1], time[2], time[3], time[4], time[5]]])
        df_addition_row.columns = ['id', 'week','month','day','time','jisa','year']
        df_tbl = pd.concat([df_tbl,df_addition_row],axis=0)

In [ ]:
conn.commit()

In [26]:
conn.close()